{% extends 'base.html' %} {% block content %}
<div class="ui grid">
  <div class="ui text container">
    <div class="ui grid">
      <div class="four column row">
        <div class="column">
          <h2>{{hike.name}}</h2>
          <p>{{hike.region}}</p>
        </div>
        <div class="column">
          <i class="location arrow icon"></i>
          <h3 class="icon-inline">Location</h3>

          <p>{{hike.region}}</p>
        </div>
        <div class="column">
          <i class="map signs icon"></i>
          <h3 class="icon-inline">Length</h3>
          <p>{{hike.length}}</p>
        </div>
        <div class="column">
          <i class="tree icon"></i>
          <h3 class="icon-inline">Elevation</h3>
          <p>{{hike.gain}}</p>
          <p>{{hike.highPoint}}</p>
        </div>
      </div>
      <div class="row">
        <img src="/static/css/resources/ParkButte.jpg" alt="" />
      </div>
      <div class="two column row">
        <div class="column">
          <div class="row">
            <p>{{hike.name}}</p>
          </div>
          <div class="row">
            <h3>HIKE INFO</h3>
          </div>
        </div>
        <div class="column">
          <p>{{hike.description}}</p>
        </div>
      </div>
      <div class="ui section divider"></div>
      <div class="two column row">
        <div class="column">
          <div class="row">
            <p>{{hike.name}}</p>
          </div>
          <div class="row">
            <h3>GETTING THERE</h3>
          </div>
        </div>
        <div class="column">
          <p>{{hike.directions}}</p>
        </div>
      </div>

      <div class="ui section divider"></div>

      <a class="fluid ui report_modal button">Add Report</a>
      {% for report in reports%}
      <div class="two column row">
        <div class="column">
          <div class="row">
            <p>{{report.user}}</p>
          </div>
          <div class="row">
            <h3>{{report.date}}</h3>
          </div>
        </div>
        <div class="column">
          <p>{{report.content}}</p>
        </div>
      </div>
      <div class="ui section divider"></div>
      {% endfor %} {% comment %} Report Modal {% endcomment %}
    </div>
  </div>
</div>

<div class="ui modal calendar report">
  <i class="close icon"></i>
  <div class="header">New Report</div>
  <div class="content">
    <form method="POST" action="{% url 'report_create' hike_id=hike_id.id %}">
      {% csrf_token %}

      <div class="ui equal width form error">
        <div class="field">
          <select class="ui dropdown" name="hikeType">
            <option class="item" default value="">Hike Type</option>
            <option class="item" value="Day Hike">Day Hike</option>
            <option class="item" value="Overnight">Overnight</option>
            <option class="item" value="Multi-Day">Multi-Day</option>
            <option class="item" value="Snowshoe/XC Ski">
              Snowshoe/XC Ski
            </option>
          </select>
        </div>

        <div class="ui equal width form">
          <div class="field">
            <select class="ui dropdown" name="conditions">
              <option class="item" default value="">Trail Conditions</option>
              <option class="item" value="Trail in good conditon">
                Trail in good conditon
              </option>
              <option class="item" value="Obstacles on trail">
                Obstacles on trail
              </option>
              <option class="item" value="Trail difficult/impossible">
                Trail difficult/impossible
              </option>
              <option class="item" value="Minor obstacles">
                Minor obstacles
              </option>
            </select>
          </div>

          <div class="ui equal width form error">
            <div class="field">
              <select class="ui dropdown" name="road">
                <option class="item" default value="">Road Conditions</option>
                <option class="item" value="road suitable for all vehicles">
                  road suitable for all vehicles
                </option>
                <option class="item" value="Road rough but passable">
                  Road rough but passable
                </option>
                <option
                  class="item"
                  value="Road recommended for high clearance only"
                >
                  Road recommended for high clearance only
                </option>
                <option class="item" value="Snow and ice on road">
                  Snow and ice on road
                </option>
                <option class="item" value="Road impassable or closed">
                  Road impassable or closed
                </option>
              </select>
            </div>

            <div class="ui equal width form error">
              <div class="field">
                <select class="ui dropdown" name="bugs">
                  <option class="item" default value="">Bugs</option>
                  <option class="item" value="No bugs">No Bugs</option>
                  <option class="item" value="Bugs were and annoyance">
                    Bugs were and annoyance
                  </option>
                  <option class="item" value="Bugs were terrible">
                    Bugs were terrible
                  </option>
                </select>
              </div>

              <div class="ui equal width form error">
                <div class="field">
                  <select class="ui dropdown" name="snow">
                    <option class="item" default value="">Snow</option>
                    <option class="item" value="Snow free">Snow Free</option>
                    <option class="item" value="Intermittent - Easy to cross">
                      Intermittent - Easy to cross
                    </option>
                    <option class="item" value="Snowfields to cross">
                      Snowfields to cross
                    </option>
                    <option class="item" value="Snow-covered - Gear required">
                      Snow-covered - Gear required
                    </option>
                  </select>
                </div>

                <div class="ui equal width form">
                  <div class="field">
                    <div class="ui calendar" id="example2">
                      <div class="ui input left icon">
                        <i class="calendar icon"></i>
                        <input type="text" name="date" placeholder="Date" />
                      </div>
                    </div>
                  </div>
                </div>

                <div class="field">
                  <label>Trip Report</label>
                  <textarea
                    cols="40"
                    rows="10"
                    name="content"
                    required
                  ></textarea>
                </div>
              </div>
              {% if error_message %}
              <div class="ui error message">
                <div class="header">Action Forbidden</div>
                <p>{{error_message}}</p>
              </div>
              {% endif %}
              <div id="create_report" class="actions">
                <input type="submit" class="ui button" value="Create Report" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
