{% extends 'base.html' %} {% block content %}
<div class="ui grid">
  <div class="ui text container">
    <div class="ui stackable grid">
      <div class="four column row">
        <div class="column">
          <h2>{{hike.name}}</h2>
          <p>{{hike.region}}</p>
        </div>
        <div class="column">
          <i class="location arrow icon"></i>
          <h3 class="icon-inline">Location</h3>

          <p>{{hike.region}}</p>
        </div>
        <div class="column">
          <i class="map signs icon"></i>
          <h3 class="icon-inline">Length</h3>
          <p>{{hike.length}} Miles</p>
        </div>
        <div class="column">
          <i class="tree icon"></i>
          <h3 class="icon-inline">Elevation</h3>
          <div class="row">
            <p>Gain: {{hike.gain}}</p>
          </div>
          <div class="row">
            <p>High Point:{{hike.highPoint}}</p>
          </div>
        </div>
      </div>
      <div class="row">
        <img
          class="ui centered bordered rounded image"
          src="{{hike.image}}"
          alt=""
        />
      </div>
      <div class="two column row">
        <div class="column">
          <div class="row">
            <p>{{hike.name}}</p>
          </div>
          <div class="row">
            <h3>HIKE INFO</h3>
          </div>
        </div>
        <div class="column">
          <p>{{hike.description}}</p>
        </div>
      </div>
      <div class="ui section divider"></div>
      <div class="two column row">
        <div class="column">
          <div class="row">
            <p>{{hike.name}}</p>
          </div>
          <div class="row">
            <h3>GETTING THERE</h3>
          </div>
        </div>
        <div class="column">
          <p>{{hike.directions}}</p>
        </div>
      </div>
      <div id="map" style="width: 100%; height: 400px"></div>
      <script type="text/javascript">
        mapboxgl.accessToken =
          "pk.eyJ1IjoiY2xheXdhdGtpbnM4IiwiYSI6ImNra3pxbTdoNjBqNG8ycHBscHVqejA0YjYifQ.qSoGopxm4aaazfTjzVfUWA";
        var map = new mapboxgl.Map({
          container: "map", // container ID
          style: "mapbox://styles/claywatkins8/ckkzqp5yr88br17mlgiqlhlfi", // style URL
          center: [{{hike.coord}}], // starting position [lng, lat]
          zoom: 10, // starting zoom
        });

        var marker = new mapboxgl.Marker() // initialize a new marker
          .setLngLat([{{hike.coord}}]) // Marker [lng, lat] coordinates
          .setPopup(new mapboxgl.Popup().setHTML("<h3><a href='/hike/{{hike.id}}'> {{hike.name}} </a></h3><p>{{hike.length}} Miles</p><p>Gain: {{hike.gain}} ft</p>"))
          .addTo(map); // Add the marker to the map;

        var geocoder = new MapboxGeocoder({
          // Initialize the geocoder
          accessToken: mapboxgl.accessToken, // Set the access token
          mapboxgl: mapboxgl, // Set the mapbox-gl instance
          marker: false, // Do not use the default marker style
        });

        // Add the geocoder to the map
        map.addControl(geocoder);
      </script>
      <p>Trailhead: {{hike.coord}}</p>

      <div class="ui section divider"></div>

      <a class="fluid ui report_modal button">Add Report</a>
      <div class="ui section hidden divider"></div>

      {% for report in reports%}
      <div class="two column row">
        <div class="column">
          <div class="row">
            <p>{{report.date}}</p>
          </div>
          <div class="row">
            {% for photo in userphoto %} {% if report.user_id == photo.user_id%}
            <img
              class="ui avatar image"
              src="{{ photo.url }}"
              alt="profile photo"
            />
            {{report.user|upper}} {% endif %} {% endfor %}
          </div>
          <div class="ui section hidden divider"></div>
          <div class="row">
            <p>{{report.hikeType}}</p>
          </div>
          <div class="row">
            <p>{{report.conditions}}</p>
          </div>
          <div class="row">
            <p>{{report.road}}</p>
          </div>
          <div class="row">
            <p>{{report.bugs}}</p>
          </div>
          <div class="row">
            <p>{{report.snow}}</p>
          </div>
        </div>
        <div class="column">
          <p>
            <a href="{% url 'reports_show' report_id=report.id %}"
              >{{report.content}}
            </a>
          </p>
        </div>
      </div>
      <div class="ui section divider"></div>
      {% endfor %} {% comment %} Report Modal {% endcomment %}
    </div>
  </div>
</div>

<div class="ui modal calendar report">
  <i class="close icon"></i>
  <div class="header">New Report</div>
  <div class="content">
    <form method="POST" action="{% url 'report_create' hike_id=hike_id.id %}">
      {% csrf_token %}

      <div class="ui equal width form error">
        <div class="field">
          <select class="ui dropdown" name="hikeType">
            <option class="item" default value="">Hike Type</option>
            <option class="item" value="Day Hike">Day Hike</option>
            <option class="item" value="Overnight">Overnight</option>
            <option class="item" value="Multi-Day">Multi-Day</option>
            <option class="item" value="Snowshoe/XC Ski">
              Snowshoe/XC Ski
            </option>
          </select>
        </div>

        <div class="field">
          <select class="ui dropdown" name="conditions">
            <option class="item" default value="">Trail Conditions</option>
            <option class="item" value="Trail in good conditon">
              Trail in good conditon
            </option>
            <option class="item" value="Obstacles on trail">
              Obstacles on trail
            </option>
            <option class="item" value="Trail difficult/impossible">
              Trail difficult/impossible
            </option>
            <option class="item" value="Minor obstacles">
              Minor obstacles
            </option>
          </select>
        </div>

        <div class="field">
          <select class="ui dropdown" name="road">
            <option class="item" default value="">Road Conditions</option>
            <option class="item" value="road suitable for all vehicles">
              road suitable for all vehicles
            </option>
            <option class="item" value="Road rough but passable">
              Road rough but passable
            </option>
            <option
              class="item"
              value="Road recommended for high clearance only"
            >
              Road recommended for high clearance only
            </option>
            <option class="item" value="Snow and ice on road">
              Snow and ice on road
            </option>
            <option class="item" value="Road impassable or closed">
              Road impassable or closed
            </option>
          </select>
        </div>

        <div class="field">
          <select class="ui dropdown" name="bugs">
            <option class="item" default value="">Bugs</option>
            <option class="item" value="No bugs">No Bugs</option>
            <option class="item" value="Bugs were and annoyance">
              Bugs were and annoyance
            </option>
            <option class="item" value="Bugs were terrible">
              Bugs were terrible
            </option>
          </select>
        </div>

        <div class="field">
          <select class="ui dropdown" name="snow">
            <option class="item" default value="">Snow</option>
            <option class="item" value="Snow free">Snow Free</option>
            <option class="item" value="Intermittent - Easy to cross">
              Intermittent - Easy to cross
            </option>
            <option class="item" value="Snowfields to cross">
              Snowfields to cross
            </option>
            <option class="item" value="Snow-covered - Gear required">
              Snow-covered - Gear required
            </option>
          </select>
        </div>

        <div class="field">
          <div class="ui calendar" id="example2">
            <div class="ui input left icon">
              <i class="calendar icon"></i>
              <input type="text" name="date" placeholder="Date" />
            </div>
          </div>
        </div>

        <div class="field">
          <label>Trip Report</label>
          <textarea cols="40" rows="10" name="content" required></textarea>
        </div>

        <div id="create_report" class="actions">
          <input type="submit" class="ui button" value="Create Report" />
        </div>
      </div>
    </form>
  </div>
</div>

{% endblock %}
