{% extends 'base.html' %} {% block content %}
<h1>{{hike.name}}</h1>
<p>{{ hike.description }}</p>
{% for report in reports%} {{report.content}} {% endfor %} 



{% comment %} DELETE
MODAL {% endcomment %} {% comment %}
<div id="modal-{{ post.id }}" class="ui modal delete">
  <i class="close icon"></i>
  <div class="header">Are you sure you want to delete: {{post.title}}?</div>
  <div class="content">
    <a
      href="{% url 'post_delete' post_id=post.id city_id=post.city_id %}"
      class="ui inverted button"
      >Confirm Delete</a
    >
    <input type="hidden" name="next" value="{{ next }}" />
  </div>
</div>
{% endcomment %} {% comment %} POST MODAL {% endcomment %}
<a id="report_modal" class="ui inverted button">Add Post</a>
<div class="ui modal report">
  <i class="close icon"></i>
  <div class="header">New Report</div>
  <div class="content">
    <form method="POST" action="{% url 'report_create' hike_id=hike_id.id %}">
      {% csrf_token %} {% comment %} NEW SEMANTIC FORM {% endcomment %}
      <div class="ui equal width form error">
        <div class="field">
          <div class="ui selection dropdownjs dropdown">
            <input type="text" name="hikeType">
            <i class="dropdown icon"></i>
            <div class="default text">Hike Type</div>
            <div class= "menu">
              <option  value="Day hike" class="item" data-value="Day Hike">Day Hike</option>
              <option class="item" data-value="Over Night">Overnight</option>
              <option class="item" data-value="Multi-Day">Multi-Day</option>
              <option class="item" data-value="Snowshoe/XC Ski">Snowshoe/XC Ski</option>
            </div>
            </input>
          </div>
        </div>
        <div class="field">
          <label>Content</label>
          <textarea cols="40" rows="10" name="content" required></textarea>
        </div>
      </div>
      {% if error_message %}
      <div class="ui error message">
        <div class="header">Action Forbidden</div>
        <p>{{error_message}}</p>
      </div>
      {% endif %}
      <div id="create_report" class="actions">
        <input type="submit" class="ui inverted button" value="Create Report" />
      </div>
    </form>
  </div>
</div>

{% endblock %}
