{% extends 'base.html' %} {% block content %}

<div class="ui grid">
  <div class="column">
    <div class="ui text container">
      <h2 class="ui header center aligned">All Reports</h2>
      {% for report in reports %}
      <div class="ui raised segment">
        <h3 class="ui header">
          <a href="/hike/{{report.hike_id}}"> {{report.hike}} </a>
        </h3>
        <p>{{report.hikeType}}</p>

        <p>
          <a href="{% url 'reports_show' report_id=report.id %}">
            Hiker: {{report.user}}</a
          >
        </p>
        <button class="fluid ui button">
          <a href="{% url 'reports_show' report_id=report.id %}">
            View Full Report</a
          >
        </button>
      </div>

      {%endfor%}
    </div>
  </div>
</div>
{% endblock %}
