{% extends 'base.html' %} {% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Cloud View</h1>
    <p>Your Guide to Washingtons Best Peaks</p>
  </div>
</div>
<div class="ui three bottom attached buttons">
  {% if user.is_authenticated %}
  <a href="/profile" class="item ui button">Profile</a>
  {% else %}
  <a class="item ui button signup_modal">Sign Up</a>
  {% endif %}
  <a href="/map" class="item ui button">Go Outside</a>
  <a href="/reports" class="ui button item">Trip Reports</a>
</div>
<div id="home-reports" class="ui text container">
  <div class="ui center aligned grid">
    <div class="row">
      <div class="ui hidden divider"></div>
      <h2>Reports From The Wild</h2>
    </div>
  </div>
  <div class="ui stackable grid">
    <div class="ui hidden divider"></div>
    {%for report in reports%}
    <div class="two column row">
      <div class="column">
        <div class="row">
          <p>{{report.date}}</p>
        </div>
        <div class="row">
          <h3>{{report.hike|upper}}</h3>
        </div>
        <div class="ui section hidden divider"></div>
        <div class="row">
          <p>{{report.hikeType}}</p>
        </div>
        <div class="row">
          <p>{{report.conditions}}</p>
        </div>
        <div class="row">
          <p>{{report.road}}</p>
        </div>
        <div class="row">
          <p>{{report.bugs}}</p>
        </div>
        <div class="row">
          <p>{{report.snow}}</p>
        </div>
        <div class="ui section hidden divider"></div>
        <div class="row">
          {% for photo in userphoto %} {% if report.user_id == photo.user_id%}
          <img
            class="ui avatar image"
            src="{{ photo.url }}"
            alt="profile photo"
          />
          {{report.user|upper}} {% endif %} {% endfor %}
        </div>
      </div>
      <div class="column">
        <p>
          <a href="{% url 'reports_show' report_id=report.id %}"
            >{{report.content}}
          </a>
        </p>
      </div>
    </div>
    <div class="ui section divider"></div>
    {%endfor%}
  </div>
</div>
{% endblock %}
