{% extends 'base.html' %} {% block content %}

<div class="hero-image">
  <div class="hero-text">
    <h1>Cloud View</h1>
    <p>Your Guide to Washingtons Best Peaks</p>
  </div>
</div>
<div class="ui three bottom attached buttons">
  <a class="item ui button" id="signup_modal2">Sign Up</a>
  <a href="/map" class="item ui button">Go Outside</a>
  <a href="/reports" class="ui button item">Trip Reports</a>
</div>
<div id="home-reports" class="ui text container">
  <div class="ui hidden divider"></div>
  <h3 class="ui header">Section One</h3>
  <p>
    Bacon ipsum dolor amet kevin boudin chuck bacon, pig turkey cupim tail doner
    short ribs tri-tip. Turducken ribeye ball tip, prosciutto brisket sirloin
    flank. Boudin filet mignon ball tip drumstick picanha. Jowl ribeye bacon,
    chicken kielbasa spare ribs sausage. Chicken bacon alcatra, drumstick
    tenderloin ground round brisket. Short ribs biltong burgdoggen shank
    pancetta ribeye sirloin kielbasa bresaola. Boudin ribeye pork loin, meatloaf
    spare ribs shoulder strip steak pig. Ham meatball kielbasa pork loin. Beef
    ribs ham hock rump frankfurter tenderloin t-bone, sausage bacon shankle.
    T-bone pancetta ball tip jowl, spare ribs rump picanha ham shankle shoulder
    tri-tip pig turkey.
  </p>
  <div class="ui section divider"></div>
  <h3 class="ui header">Next report</h3>
  <p>
    Bacon ipsum dolor amet kevin boudin chuck bacon, pig turkey cupim tail doner
    short ribs tri-tip. Turducken ribeye ball tip, prosciutto brisket sirloin
    flank. Boudin filet mignon ball tip drumstick picanha. Jowl ribeye bacon,
    chicken kielbasa spare ribs sausage. Chicken bacon alcatra, drumstick
    tenderloin ground round brisket. Short ribs biltong burgdoggen shank
    pancetta ribeye sirloin kielbasa bresaola. Boudin ribeye pork loin, meatloaf
    spare ribs shoulder strip steak pig. Ham meatball kielbasa pork loin. Beef
    ribs ham hock rump frankfurter tenderloin t-bone, sausage bacon shankle.
    T-bone pancetta ball tip jowl, spare ribs rump picanha ham shankle shoulder
    tri-tip pig turkey.
  </p>
  <div class="ui section divider"></div>
  <h3 class="ui header">Next report</h3>
  <p>
    Bacon ipsum dolor amet kevin boudin chuck bacon, pig turkey cupim tail doner
    short ribs tri-tip. Turducken ribeye ball tip, prosciutto brisket sirloin
    flank. Boudin filet mignon ball tip drumstick picanha. Jowl ribeye bacon,
    chicken kielbasa spare ribs sausage. Chicken bacon alcatra, drumstick
    tenderloin ground round brisket. Short ribs biltong burgdoggen shank
    pancetta ribeye sirloin kielbasa bresaola. Boudin ribeye pork loin, meatloaf
    spare ribs shoulder strip steak pig. Ham meatball kielbasa pork loin. Beef
    ribs ham hock rump frankfurter tenderloin t-bone, sausage bacon shankle.
    T-bone pancetta ball tip jowl, spare ribs rump picanha ham shankle shoulder
    tri-tip pig turkey.
  </p>
  <div class="ui hidden divider"></div>
</div>

{% endblock %}
