{% extends 'base.html' %} {% block content %}
<div class="ui two column grid">
  <div class="column">
    <div class="ui centered card">
      <div class="image">
        <img src="" />
      </div>
      <div class="content">
        <h2>{{ user.first_name}} {{user.last_name}}</h2>
        <div class="meta">
          <span class="date">Date Joined:{{ user.date_joined }}</span>
          <span>Username: {{ user.username }}</span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          {{ user.email }}
        </a>
      </div>
    </div>
  </div>

  <div class="column">
    {% for report in reports %}

    <div class="ui centered card">
      <div class="content">
        <h3>
          <a class="header" href="/hike/{{report.hike_id}}">
            {{report.hike}}
          </a>
        </h3>
        <div class="meta">
          <span class="date">{{ report.date }}</span>
        </div>
        <div class="description">
          <a href="{% url 'reports_show' report_id=report.id %}"
            >{{report.content}}
          </a>
        </div>
      </div>
      <div class="extra content">
        <a href="{% url 'reports_show' report_id=report.id %}">
          <i class="user icon">{{report.user}}</i>
        </a>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
