{% extends 'base.html' %} {% block content %}
<div class="ui two column grid">
  <div class="column">
    <div class="ui centered card">
      <div class="image">
        <img src="/images/avatar2/large/kristy.png" />
      </div>
      <div class="content">
        <a class="header">{{ user.first_name}} {{user.last_name}}</a>
        <div class="meta">
          <span class="date">{{ user.date_joined }}</span>
        </div>
      </div>
      <div class="extra content">
        <a>
          <i class="user icon"></i>
          {{ user.email }}
        </a>
      </div>
    </div>
  </div>

  <div class="four wide column">
    <h2>Reports</h2>

    {% for report in reports %}
    <div class="ui raised segment">
      <h3 class="ui header">
        <a href="/hike/{{report.hike_id}}"> {{report.hike}} </a>
      </h3>
      <p>
        <a href="{% url 'reports_show' report_id=report.id %}">
          {{report.user}}</a
        >
      </p>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}
